*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



.Header{
    display: flex;
    max-height: 113px;
    font-family: 'Dosis', sans-serif;
    padding: 0 20px ;
    transition: all .6s ease;
}

.Header a{
    text-decoration: none;
}
.headerLogo{
    width: 190px;
    height: 115px;
}
.headerLinksUl{
    position: relative;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.headerLinksUl li{
    display: flex;
    width: 140px;
    height: 100%;
    font-weight: 600;
    transition: all 0.7s ease;
}
.headerLinksUl li a{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease;
    /* color: #c2c2c2; */
    color:#8596a7;
    font-weight:lighter;
    width: 100%;
    height: 100%;
}
.headerLinksUl li:nth-child(3) a:hover{
    color: #E84F28;
}
.headerLinksUl li:nth-child(4){
    width: 70px;
}
.darkModeBtn{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Dosis', 'sans-serif';
    transition: all 0.6s ease;
    color:#8596a7;
}
.darkModeBtn ul{
    margin: 0;
}
.darkModeBtn ul li{
    height: 0;
    display: none;
}
.darkModeBtn:focus ul li{
    position: absolute;
    display: flex;
    background-color: #121212;
    border-radius: 0 0 1rem 1rem;
    justify-content: center;
    z-index: 1;
    width: 70%;
    cursor:default;
    height: 60px;
}

.light-mode .darkModeBtn ul li{
    background-color: #F3F5FB;
    transition: all 0.6s ease;
}
.dark-mode .darkModeBtn ul li{
    background-color: #242526;
    transition: all 0.6s ease;
}

.headerDarkOption{
    display: flex;
    padding:0 4px 1px 4px;
    align-items: center;
    width: 50px;
    height: 25px;
    background-color: #4E4C4E;
    border: 2px #334d50 solid;
    border-radius: 5rem;
    align-self: center;
    margin-bottom: 6px;
}

.headerLinksUl a:hover,.Header .darkModeBtn:hover{
    color: #52c234;
}


@keyframes slideInFromLeft {
    0% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(-20px);
    }
    100% {
      transform: translateX(0);
    }
  }
.optionBall-left{
    display: flex;
    margin-top: 1px;
    height: 18px;
    width: 18px;
    border-radius: 5rem;
    background-color: #121212;
    animation: .5s ease 0s 1 slideInFromLeft;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.optionBall-right{
    display: flex;
    margin-top: 1px;
    margin-left:21px;
    height: 18px;
    width: 18px;
    border-radius: 5rem;
    background-color: #121212;
    animation: .5s ease 0s 1 slideInFromRight;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.toggleSun{
    margin-top:1px;
    position: absolute;
    height: 13px;
    width: 13px;
    color: yellow;
    right: 27px;
    z-index: 2;
}
.toggleMoon{
    margin-top:1px;
    position: absolute;
    height: 13px;
    width: 13px;
    color: yellow;
    z-index: 2;
}

.hamburgerIcon{
    display: none;
    cursor: pointer;
}
.responsiveHeaderLinksUl,.responsiveHeaderLinksDiv{
    display: none;
}
@media screen and (max-width:896px) {
    .headerLinksUl{
        display: none;
    }
    .Header{
        position: fixed;
        z-index: 5;
        display: flex;
        background: #F3F5FB;
        width: 100%;
        justify-content: space-between;
    }
    .dark-mode .Header, .dark-mode .responsiveHeaderLinksUl{
        background:#242526;
        transition: all .6s ease;
    }
    .dark-mode .Header .hamburgerIcon, .dark-mode .responsiveHeaderLinksUl li a, .dark-mode .responsiveHeaderLinksUl li:last-child{
        color: white;
    }
    .dark-mode .responsiveHeaderLinksUl li:hover{
        background: gray;
        transition: all .6s ease;
    }
    .responsiveHeaderLinksDiv{
        display: flex;
        background: rgba(243, 245, 251,.5);
        position: absolute;
        top: 113px;
        z-index: 3;
        left: 0;
        height: 1000px;
        width: 100%;
    }
    .dark-mode .responsiveHeaderLinksDiv{
        background: rgba(84, 87, 95, 0.5);
    }
    .responsiveHeaderLinksUl{
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 50%;
        background: #F3F5FB;
        height: 100%;
        right: 0;
        padding: 0;
        transition: all .6s ease;
    }
    .responsiveHeaderLinksUl li, .responsiveHeaderLinksUl li:last-child{
        font-family: "Open Sans";
        font-weight: bold;
        display: flex;
        font-size: 15px;
    }
    .responsiveHeaderLinksUl li:hover{
         background: #E2E2E2;
         cursor: pointer;
    }
    .responsiveHeaderLinksUl li:last-child{
        border-top:1px solid black;
    }
    .responsiveHeaderLinksUl li a ,.responsiveHeaderLinksUl li:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        color: #666666;
    }
    .hamburgerIcon{
        display: flex;
        height: 100%;
        width: 40px;
        align-self: center;
    }
    .darkModeBtn{
        display: none;
    }
}
@media screen and (max-width:655px) {
    .responsiveHeaderLinksUl{
        width: 80%;
    }
}
@media screen and (max-width:380px) {
    .responsiveHeaderLinksUl{
        width: 100%;
    }
}