.Content{
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.popularContent{
    display: flex;
    position: relative;
    justify-content:center;
    width: 100%;
    padding:4.5rem 0 1.5rem 0 ;
    flex-wrap: wrap;
    transition: all 2s ease;
    background: linear-gradient(87deg,#f5365c 0,#f56036 100%);

}
.card{
    transition: all 0.6s ease;
}
.dark-mode .tableHead{
    color:#9b9b9b;
}

.colContent{
    padding: 0 10px;
    justify-content: center;
    max-width: 300px;
}
.containerMarkets{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.dark-mode .marketsHeader{
    color: white;
}
.marketsHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#example-custom-modal-styling-title{
    font-size: 17px;
}
.contentConverter{
    width: 91px;
}
.tablesRow{
    width: 70%;
}
.tablesRow table{
    border: transparent;
}
.tablesRow table thead{
    color: #9b9b9b;
    font-size: 14px;
}
.tablesRow table tbody{
    font-weight: bold;
}
.tableHead{
    display: flex;
    width: fit-content;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease;
}
.linkTables{
    text-decoration: none;
    color: #212529;
}
.tableMarketName{
    color: #315eb8;
}
.tableHead:hover{
    color: #f56036;
}
.carousel{
    margin-top: 2rem;
    max-width: 800px;
}
div.carousel-item{
    transition: all 0.7s ease;
}
.cardTitleIcon{
    height: 48px;
    width: 48px;
    color:green;
}
.colContent:nth-child(4) .cardTitleIcon{
    color:gold;
}
.cardPopular{
    padding: 1rem 1.5rem !important;
    width: 100% !important;
    box-shadow: 3px 3px 15px black;
}
.cardPopular .card-title{
    font-size: 1rem;
    color: #8898aa;
}
.cardPopular .card-body{
    padding: 0;
}
.cardPopularCol{
    display: flex;
    justify-content: flex-end;
}
.cardPopularTitleRow{
    margin-bottom: 12px;
}
.cardPopularSpan{
    font-weight: bolder;
    font-size: 1.25rem;
}
span.text-success{
    color: #2dce89 !important;
}
span.text-danger{
    color: #f5365c!important;
}
.text-danger, .text-success,.text-warning{
    font-family: Open Sans,sans-serif;
    font-size: .875rem;
    font-weight: 300;
}
.text-danger svg,.text-success svg,.text-warning svg{
    margin-right: .5rem;
}

.carouselCol{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-caption{
    z-index: 1;
}
.carousel-inner{
    box-shadow: 5px 5px 10px black;
}
.contentNews{
    height: 533px;
}
.shadow{
    background: linear-gradient(rgba(0,0,0,0) 8%,rgba(0,0,0,.7) 66%);
    position: absolute;
    display: flex;
    bottom: 0;
    height: 40%;
    width: 100%;
}
@media screen and (max-width:896px) {
    .Content{
        padding-top: 113px;
    }
    .cardPopular .card-title{
        font-size: 0.8rem;
    }
    div.cardPopularCol{
        padding: 0;
        justify-content: center;
    }
    .cardPopularSpan{
        font-size: 0.8rem;
    }
    .cardPopular{
        margin-bottom:5px;
    }
}
@media screen and (max-width:500px) {
    .row>*{
        padding: 0 !important;
    }
    .allGold{
        font-weight: 400 !important;
    }
    .tablesRow{
        display: inline-table !important;
        font-size: small;
    }
}
@media screen and (max-width:370px) {
    .popularContent div:nth-child(4) .cardPopular .card-title{
        font-size: 0.6rem ;
    }
    .cardPopularSpan{
        font-size: 0.7rem;
    }
    .tablesRow table tbody td{
        padding-right:0;
    }
    
}